# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
.venv/
/lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Database & Storage
*.db
backups/
Dataset/data/
my_dataset/

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
.next/
out/
build/
.env
.env.local

# IDE
.vscode/
.idea/
